* {
    color: #D5C67A;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #052F5F ;
}

.header-one {
    color: #D5C67A;
    text-shadow: 2px 1px white;
}

.img-main {
    height: 300px; width: auto;
}

.list {
    background-color: #005377;
    width: 35%;
}

/* https://coolors.co/052f5f-005377-06a77d-d5c67a-f1a208 - color palette */