* {
    color: #D5C67A;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #052F5F ;
}

.header-one {
    color: #D5C67A;
    
}

.img-main {
    height: 300px; width: auto;
}

.list-recipe {
    background-color: #005377;
}